body {
    margin: auto; /*page tu dong can vao center*/
    width: 900px;
    background-color: rgb(233, 233, 243); 
}

h1 {
    color:green;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color:green;
    text-align: center;
    font-size: 25px;
}

#gallery {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*xep vua van cac pic vao 1 khung body*/
    justify-content: center;
}

/* style for layouts div.pic */
.imgcontainer {
    margin: 5px; 
    float: left; /*day ptu sang trai/phai */
    flex-basis: 290px;
    flex-grow: 1;
}

/* style for imgcontainer. */
.imgcontainer > img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: 0.3s; /*time of animation*/
    border-radius: 15px;
}

.imgcontainer > img:hover {
    opacity: 0.75;
    border-radius: 50px;
}

/* Modal part */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
}

/* Add Animation - Zoom in the Modal */
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

button {   
    position: relative;
    top: 20px;
    left: 800px;
    background-color: #4CAF50;   
    width: 10%;  
    color: rgb(255, 255, 255);   
    padding: 10px;   
    cursor: pointer;  
    border-radius: 5px; 
}   

